.dirs
.census
.enable
.enable-sup
.mwords
.uk-freq-class
.ukacd
.yawl
alt12dicts/*.lst
census/*
enable-sup/*
enable/*
mwords/*
pos/*
scowl/.symbolic-deps
scowl/README
scowl/scowl.db
scowl/*.tab
scowl/final*/
scowl/debug/
scowl/l/levels-list
scowl/src/deaccent
scowl/src/find-accented
scowl/working/
scowl/r/special/*.lst
scowl/sqltest*
uk-freq-class/*
ukacd/*
varcon/*
yawl/*
site/serve/*
